
svg {
    shape-rendering: crispEdges;
    font-family: "Helvetica Neue";
}

.room_rect {
    stroke: black;
    shape-rendering: crispEdges;
}

.room_name {
    font-size: 2em;
    font-weight: bold;
}

#topbar {
    width: 700px;
    margin: 0 auto;
}

#topbar h2 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

#topbar img {
    height: 150px;
    vertical-align: middle;
}

