
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);

#example1 { min-height: 155px; }
#example2a { min-height: 153px; }
#example2b { min-height: 255px; }

svg {
    padding: 40px 40px 40px 20px;
    padding-left: 50px;
}

table#sensors {
    margin: 20px auto;
    min-width: 600px;
    max-width: 800px;
}

body {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 0px 100px;
}

.tdTitle {
    text-align: right;
    font-weight: bold;
    font-family: "Roboto";
    padding-right: 15px;
}

.roomname {
    font-weight: bold;
}

table#values {
    width: 800px;
    table-layout: fixed;
    margin: 50px auto 20px auto;
}

#values td {
    text-align: center;
}

td.chartArea {
    width: 500px;
    height: 100px;
}